<?xml version="1.0"?>
<robot  xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="chassis">
        <link name="chassis_link">
            <visual>
                <origin xyz="0 0 0.77" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://hitomi/meshes/body.dae"/>
                </geometry>
                <material name="true_turquoise">
                    <color rgba="0.251 0.878 0.816 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://hitomi/meshes/body.stl"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="3.0" />
                <inertia 
                  ixx="0.9" ixy="0.0" ixz="0.0"
                  iyy="0.9" iyz="0.0"
                  izz="0.01"/>
              </inertial>
        </link>

        <link name="display_link">
            <visual>
                <origin xyz="0.7 0 2.5" rpy="0 0 0"/>
                <geometry>
                    <box size="0.1 0.8 0.3"/>
                </geometry>
                <material name="white">
                    <color rgba="1 1 1 1"/>
                </material>
            </visual>
        </link>

        <joint name="display_joint" type="fixed">
            <parent link="chassis_link"/>
            <child link="display_link"/>
        </joint>
    </xacro:macro>
</robot>